In [86]:
# import urllib.request
# api_key = "3582852b882fe86a312cda6912221cfcc87c0591"

In [87]:
# url = "https://api.nomics.com/v1/currencies/ticker?key=3582852b882fe86a312cda6912221cfcc87c0591&ids=BTC,ETH,XRP&interval=1d,30d&convert=EUR&per-page=100&page=1"

In [2]:
# print(urllib.request.urlopen(url).read())5cf36bc5da44b87def13593339d8278849f651e576ece3b95b08b86264df2756
!python3 -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.2.4-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 5.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/lib/python3/dist-packages (from pandas) (1.17.4)
Installing collected packages: pandas
Successfully installed pandas-1.2.4

In [3]:
import json
import requests
import numpy as np
import pandas as pd

In [4]:
headers = {
  'authorization': '5cf36bc5da44b87def13593339d8278849f651e576ece3b95b08b86264df2756',
}

In [8]:
endpoint = 'https://min-api.cryptocompare.com/data/v2/histoday'
res = requests.get(endpoint + '?fsym=BTC&tsym=INR&limit=500')
hist = pd.DataFrame(json.loads(res.content)['Data'])
# hist = hist.set_index('time')
# hist.index = pd.to_datetime(hist.index, unit='s')
target_col = 'close'

In [10]:
hist

,Aggregated,TimeFrom,TimeTo,Data
0,False,1580688000,1623888000,"{'time': 1580688000, 'high': 1062569.78, 'low'..."
1,False,1580688000,1623888000,"{'time': 1580774400, 'high': 1041426.92, 'low'..."
2,False,1580688000,1623888000,"{'time': 1580860800, 'high': 1275570.46, 'low'..."
3,False,1580688000,1623888000,"{'time': 1580947200, 'high': 862537.41, 'low':..."
4,False,1580688000,1623888000,"{'time': 1581033600, 'high': 1336005.34, 'low'..."
...,...,...,...,...
496,False,1580688000,1623888000,"{'time': 1623542400, 'high': 3982234.44, 'low'..."
497,False,1580688000,1623888000,"{'time': 1623628800, 'high': 5540048.06, 'low'..."
498,False,1580688000,1623888000,"{'time': 1623715200, 'high': 4698000.72, 'low'..."
499,False,1580688000,1623888000,"{'time': 1623801600, 'high': 4698000.72, 'low'..."
500,False,1580688000,1623888000,"{'time': 1623888000, 'high': 3814464.45, 'low'..."