In [86]:
# import urllib.request
# api_key = "3582852b882fe86a312cda6912221cfcc87c0591"

In [87]:
# url = "https://api.nomics.com/v1/currencies/ticker?key=3582852b882fe86a312cda6912221cfcc87c0591&ids=BTC,ETH,XRP&interval=1d,30d&convert=EUR&per-page=100&page=1"

In [88]:
# print(urllib.request.urlopen(url).read())5cf36bc5da44b87def13593339d8278849f651e576ece3b95b08b86264df2756

In [89]:
import json
import requests
import numpy as np
import pandas as pd

In [90]:
headers = {
  'authorization': '5cf36bc5da44b87def13593339d8278849f651e576ece3b95b08b86264df2756',
}

In [91]:
endpoint = 'https://min-api.cryptocompare.com/data/v2/histoday'
res = requests.get(endpoint + '?fsym=BTC&tsym=INR&limit=500')
hist = pd.DataFrame(json.loads(res.content)['Data'])
# hist = hist.set_index('time')
# hist.index = pd.to_datetime(hist.index, unit='s')
target_col = 'close'

In [92]:
hist.head(5)

,Aggregated,TimeFrom,TimeTo,Data
0,False,1580688000,1623888000,"{'time': 1580688000, 'high': 1062569.78, 'low'..."
1,False,1580688000,1623888000,"{'time': 1580774400, 'high': 1041426.92, 'low'..."
2,False,1580688000,1623888000,"{'time': 1580860800, 'high': 1275570.46, 'low'..."
3,False,1580688000,1623888000,"{'time': 1580947200, 'high': 862537.41, 'low':..."
4,False,1580688000,1623888000,"{'time': 1581033600, 'high': 1336005.34, 'low'..."